QTreeView{
    max-width:300px;
    background-color: #161B21;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
QTreeView::item{
    height: 27px;
}


QTreeView::item:!selected:hover{
    background-color: none;
}


QTreeView:branch:selected:active{
    background-color:#346792;
}


QTreeView:branch:selected:!active{
    color: #DFE1E2;
    background-color: #37414F;
}


QTreeView:branch:has-siblings:!adjoins-item {
    border-image: url(none) 0;
}


QTreeView:branch:has-siblings:adjoins-item {
    border-image: url(none) 0;
}


QTreeView:branch:!has-children:!has-siblings:adjoins-item {
  border-image: url(none) 0;
}




